*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 100%;
    overflow-x: hidden;
}
aside{
    width: fit-content;
    height: 100dvh;
    padding-top: 0.3dvh;
    padding-left: 0.3dvw;
    padding-right: 0.3dvw;
    img{
        width: 2dvw;
        padding-left: 0.3dvw;
    }
    #i1{
        padding-top: 3dvh;
    }
    a{
        text-decoration: none;
        color: black;
    }
    font-size: 0.8dvw;
}
main{
    border-left: 1px;
    border-style: solid;
    a{
        text-decoration: none;
    }
    font-size: 1dvw;
}
#nav{
    width: auto;
    padding-top: 1.2dvh;
    padding-bottom: 1dvh;
    padding-left: 0.8dvw;
    padding-right: 0.8dvw;
    a{
        padding-left: 3.5dvw;
        color: black;
    }
    #login{
        padding-right: 3.5dvw;
    }
    input{
        border-style: solid;
        border-radius: 1.3dvh;
        font-size: 1dvw;
        padding-bottom: 0.3dvh;
        padding-top: 0.3dvh;
        padding-left: 0.5dvw;
    }
    #if{
        padding-left: 0.2dvw;
    }
    button{
        border-radius: 0.5dvh;
        width: 4dvw;
        font-size: 1dvw;
    }
}
#main{
    width: auto;
    height: auto;
    padding-top: 4dvh;
    padding-left: 12dvw;
    padding-right: 12dvw;
    border-top: 1px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    div{
        display: inline-block;
        margin-right: 0.6dvw;
    }
    #d1{
        width: 14.7dvw;
        border-style: solid;
        border-width: 0.1dvw;
        border-radius: 0.3dvw;
        padding-left: 2dvw;
        padding-top: 1dvh;
        padding-bottom: 0.5dvh;
    }
    #d2{
        width: 14.7dvw;
        border-style: solid;
        border-color: blue;
        border-width: 0.2dvw;
        border-radius: 0.3dvw;
        padding-left: 2dvw;
        padding-top: 1dvh;
        padding-bottom: 0.5dvh;
        background-color: blue;
        color: white;
    }
    #d3{
        width: 14.7dvw;
        border-style: solid;
        border-width: 0.1dvw;
        border-radius: 0.3dvw;
        padding-left: 2dvw;
        padding-top: 1dvh;
        padding-bottom: 0.5dvh;
    }
    #d4{
        width: 14.7dvw;
        border-width: 0.2dvw;
        border-radius: 0.3dvw;
        padding-left: 2dvw;
        padding-top: 1dvh;
        padding-bottom: 0.5dvh;
        img{
            width: 7dvw;
        }
    }
    #images{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        div{
            img{
                width: 23.5dvw;
            }
        }
    }
}
#i{
    font-weight: bolder;
}
#if{
    font-weight: bolder;
}
footer{
    margin-top: 2dvh;
    font-size: 18px;
    background-color: yellow;
    padding: 1dvw;
}